<div class="row">
    <div class="col-sm-6">
        <div class="rounded-0 card text-white bg-primary mt-5 m-sm-5">
            <div class="card-header">{{album2.author}}</div>
            <div class="card-body">
                <h5 class="card-title">{{album2.name}}</h5>
                <p class="card-text">Note de l'album : {{album2.grade}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="rounded-0 card text-white bg-primary mt-5 m-sm-5">
            <div class="card-header">{{album1.author}}</div>
            <div class="card-body">
                <h5 class="card-title">{{album1.name}}</h5>
                <p class="card-text">Note de l'album : {{album1.grade}}</p>
            </div>
        </div>
    </div>
</div>
